* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #D28521;
    --primary-text-color: gray;
    --secondary-bg-color: #BEED8C;
    --slight-bg-color: azure;
    --box-shadow-color: rgba(204, 204, 204, 0.5);
    --form-heading-color: #00329ea9;
    --footer-bg-color: #222222;
    --default-color: white;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

nav {
    margin: 0.01rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    position: relative;
    background: var(--primary-bg-color);
    height: auto;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0.1rem;
    height: auto;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--slight-bg-color);
    font-size: 0.9rem;
    transition: all ease-in 0.3s;
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--secondary-bg-color);
    font-size: 1rem;
}

.menu-icon {
    display: none
}

.menu-icon i {
    color: var(--slight-bg-color);
    font-size: 2rem;
    font-size: 1.5rem;
    transition: all ease-in 100ms;
}

.menu-icon i:active {
    font-size: 1.7rem;
    color: var(--secondary-bg-color);
}

.heading-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-bg-color);
}

.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../images/main-bcg.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.header__text-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--default-color);
    gap: 1.5rem;
    overflow: hidden;
}

.header::after {
    content: "";
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, var(--primary-bg-color), rgb(255, 193, 126), var(--primary-bg-color));
    display: block;
}

.header__first-para {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    position: relative;
    animation: go-right 2s linear 0s 1;
}

.header__second-para {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    position: relative;
    animation: go-left 2s ease 0s 1;
}

.header__button {
    border: none;
    padding: 1rem;
    background-color: var(--primary-bg-color);
    transition: background-color linear 0.5s;
    color: var(--default-color);
    transition: color linear 0.5s;
    border: none;
    font-size: 2rem;
    box-shadow: 0 0.3rem 0.3rem var(--box-shadow-color);
    outline: 0.2rem solid var(--primary-bg-color);
    outline-offset: 0.2rem;
    animation: button-scale 2s ease 0s 1;

}

.header__button:hover {
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    cursor: pointer;

}

.products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.products__description {
    min-width: 10rem;
    width: 15rem;
    max-width: 20rem;
    margin: 1rem;
    padding: 0 0.2rem;
}

.products__description h2,
.products__description p,
.products__description button {
    margin: 1rem 0;
    padding: 0.4rem 0;
}

.products__description_heading-first {
    font-size: 2rem;

}

.products__description_heading-second {
    font-size: 1.5rem;
}

.products__description_text {
    font-size: 1rem;
    color: var(--primary-text-color);
}

.products__description_button {
    width: 7rem;
    height: 2rem;
    letter-spacing: 0.15rem;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    background-color: var(--primary-bg-color);
    transition: background-color linear 0.5s;
    color: var(--default-color);
    transition: color linear 0.5s;
    box-shadow: 0 0.3rem 0.3rem var(--box-shadow-color);
}

.products__description_button:hover {
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    cursor: pointer;
}


.products__card {
    margin: 0.8rem;
    padding: 0 0.2rem;
    gap: 1rem;
    min-width: 10rem;
    width: 15rem;
    max-width: 20rem;
}

.products__card-one--image,
.products__card-two--image,
.products__card-three--image {
    width: 14rem;
    border-radius: 0.5rem;
}

.products__card-one h4,
.products__card-two h4,
.products__card-three h4 {
    margin: 0.5rem;
}

.products__card-one--heading-first,
.products__card-two--heading-first,
.products__card-three--heading-first {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
}

.products__card-one--heading-second,
.products__card-two--heading-second,
.products__card-three--heading-second {
    color: var(--primary-bg-color);
}

.footer {
    width: 100%;
    height: 10rem;
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-media-link {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.social-media-link i {
    color: var(--default-color);
    transition: color ease 0.3s;
    font-size: 1.5rem;
}

.social-media-link i:hover {
    color: var(--primary-bg-color);
}

.copyright-info {
    margin: 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.copyright-info_orange-color {
    color: var(--primary-bg-color);
}

@media screen and (min-width:1281px) {

    /* MONITOR */
    html {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:1280px) {

    /* TABLET */
    html {
        font-size: 15px;
    }
}

@media screen and (min-wdth:481px) and (max-width:768px) {

    /* LARGE PHONE */


}


@media screen and (max-width:480px) {

    /* MOBILE */
    nav {
        height: auto;

    }

    nav ul {
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0.2rem;
        max-height: 0;
        overflow: hidden;
    }

    .menu-icon {
        display: block;
    }

    .header__text-container {
        justify-content: space-evenly;
    }

    .header__first-para,
    .header__second-para,
    .header__button {
        font-size: 1.5rem;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }
}

@keyframes go-right {
    0% {
        opacity: 0;
        right: 0;
    }

    25% {
        opacity: 0.25;
        right: 5rem;
    }

    75% {
        opacity: 0.75;
        right: -3rem;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes go-left {
    0% {
        opacity: 0;
        left: 0;
    }

    25% {
        opacity: 0.25;
        left: 5rem;
    }

    75% {
        opacity: 0.75;
        left: -3rem;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes button-scale {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    25% {
        opacity: 0.25;
        transform: scale(1.5)
    }


    100% {
        opacity: 1;
        transform: scale(1);
    }
}