

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}
.container{
    text-align: center;
    color: black;
}
#newtask{
    position: relative;
    background-color: wheat;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px grey;
}
#newtask input{
    width: 70%;
    width: 70%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid grey;
    padding: 12px;
    color: black;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: green;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color:red;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.h1{
    position: relative;

}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px grey;
    width: 100%;
    position: relative;
}
.task{
    background-color:wheat;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color:red;
    color: white;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    
}
.completed{
    text-decoration: line-through;
}